body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#3d3d3d; font-size:14px; font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a{color:#555; text-decoration:none;}
a:hover { text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.fl{float: left;}
.fr{float: right;}

body {
    width: 100%;
    min-width: 320px;
    background: #fff;
}
#header {
    position: absolute;
}

#header {
    width: 100%;
    color: #fff;
}
.single .navigation-top, .page .navigation-top {
    top: 0;
}

.navigation-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    /*background: rgba(51, 104, 172, 0.6);*/
    background-color: #225ba2;
    z-index: 3;

}
.menu-my-container, .single .entry-content, .page .entry-content, .postnav, .site-branding-text, .post-title-text, #main, #tags {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
}
.menu{
    padding-left: 30px;
}

.menu li {
    display: block;
    float: left;
}
.menu li a {
    padding: 0 .75em;
    line-height: 40px;
    display: inline-block;
    color: #fff;
}
.menu li a:hover {
    background-color:  #3a4863;
}

.single #post-title, .page #post-title {
    padding: 6em 0 3em;
}


#post-title {
    text-align: left;
    /*background: rgba(51,104,172,0.85);*/
    background:rgba(34,91,162,0.85) ;
    position: relative;

    height: 150px;
}

.post-title-text {
    position: relative;
    top:40px;

}
.single .head-text {
    margin-bottom: 0;

}

.head-text {
    overflow: hidden;
    margin-bottom: 1em;
}
h1.entry-title {
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    padding-left:30px ;
    padding-top: 25px;
    /*position: absolute;*/
    /*top:0;*/
}

.content{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    /*padding:15px;*/
}
.content-left{
    width: 65%;
    margin-top: 15px;

    /*padding:15px;*/
}
.content-left .news {
    margin-top:15px;
    padding:0 30px 15px 30px;
    border-bottom:1px solid #cdcdcd;

}
.content-left .news:last-child{
    border: none;
}

.content-left .title{
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 10px;
}
.content-left .con-p{
    font-size: 1em;
    line-height: 24px;
    background-color: #f1f1f1;
    text-indent: 2em;
    padding:5px;
}
.content-left .power{
    padding-top: 15px;
}

.content-left .time{
    display: inline-block;
    color: #595757;
}
.content-left .time:hover{
    color: #225ba2;;
    cursor:pointer;
}

.content-left .time img{
    vertical-align:-2px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.content-right{
    margin-top: 30px;
    width: 27%;
    height: auto;
    border:1px solid #3d3d3d;
    padding:15px;
    margin-right: 2%;
    text-align: center;
}
.content-right .adv{
    font-size: 1.4em;
    margin-bottom: 15px;
}
.content-right img{
    width: 100%;
    margin: 0 auto;

}

@media screen and (max-width: 600px) {

    .content-left{
        width: 100%;

    }
    .content-right{
        display: none;
    }


}
.foot{
    background-color: #3a4863;
    height: 150px;

}
.foot-con{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.foot-con p{
    text-align: center;
    padding: 50px;;
}
.t-white{
    color: #cfd8dc;;
}
.foot-bottom{
    background-color: #212121;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#myBtn {
    display: none;

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background:rgba(34,91,162,0.8);
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
}
#myBtn:hover {
    background-color: #555;
}